<section class="vh-100">
    <div class="container">
        <div class="row">
            <div class=" col page-header">
                <h2>Project Dashboard</h2>
            </div>


            <div class="col mt-2 d-md-flex justify-content-md-end">
                {{#if logged_in}}
                <a href="/project" class="btn btn-success text-dark btn-lg">Post a project</a>
                {{else}}
                <a href="/login" class="btn btn-success text-dark btn-lg">Post a project</a>
                {{/if}}
            </div>

        </div>

        {{#each projects as |project|}}
        <div class="row m-4">
            <h4>{{project.proj_name}}</h4>
            <hr>

            <!-- project card -->
            <div class="col-md-8">
                <div class="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5>Posted by {{user.name}}</h5>
                            <a href="{{project.proj_repo}}">Repo URL: {{project.proj_repo}}</a>
                            <p class="mb-0">

                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    {{project.summary}}
                                </button>
                            </p>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                
                                        <form class="comment-form">
                                            <div>
                                                <textarea name="comment-body"></textarea>
                                            </div>

                                            <div>
                                                <button type="submit">add comment</button>
                                            </div>
                                        </form>
                                        {{comment}}
                                    </li>
                                </ul>

                                {{!-- <div class="d-md-flex justify-content-md-end">

                                    <button class="btn btn-primary me-md-2" id='commentbutton' type="submit">Add a
                                        comment</button>
                                </div> --}}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- skills needed card -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Skills needed:
                        
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {{!-- subject to change --}}
                            <li class="list-group-item">list skills</li>
                            {{#each project.language}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button class="btn btn-primary btn-md me-md-2 mt-2" type="submit">Apply</button>
                </div>
            </div>
            <!-- favorite icons -->
            <div class="col-md-1">
                <button type="button" id="star-fav" class="btn btn-default" onclick="">
                    <span class="fa fa-star fa-lg" style="color:#FF8E31"></span>
                </button>
            </div>
        </div>
        {{/each}}

    </div>



</section>
